@import "./mixins";
$primary: #08c3a2;
$fontfamily: Raleway;

.sociallist {
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  .twitter {
    @include display;
    top: 45px;
    right: 50px;
    justify-content: flex-end;
    padding: 0 0.5rem;
    cursor: pointer;
  }
  .insta {
    @include display;
    top: 25px;
    right: 50px;
    justify-content: flex-end;
    padding: 0 0.5rem;
    cursor: pointer;
  }
  .fb {
    @include display;
    right: 50px;
    top: 5px;
    justify-content: flex-end;
    padding: 0 1rem;
    cursor: pointer;
  }
}

section {
  text-align: center;
  width: 100%;
  .head1 {
    @include footerstyle1;
  }
  .head3 {
    font-family: $fontfamily;
    font-weight: 300;
  }
}
